{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'main/css/registration.css' %}"/>

{% endblock %}

{% block content %}
	<div class="container">
		<a href="{% url 'home' %}" style="color: black"><button style="background: #f44336">Вернуться на главную страницу</button></a>
		<br>
    <form class="modal-content animate" method="POST">
		{% csrf_token %}
			<div class="imgcontainer">
			  <img src="{% static 'main/img/img_avatar2.jpg' %}" alt="Avatar" class="avatar">
			</div>

			<div class="container">
			  <label for="username"><b>Номер ИСУ</b></label>
			  <input type="text" placeholder="Enter Username" name="username" required>

			  <label for="password"><b>Пароль</b></label>
			  <input type="password" placeholder="Enter Password" name="password" required>

			  <button type="submit">Авторизоваться</button>
			  <label>
				<input type="checkbox" checked="checked" name="remember"> Remember me
			  </label>

			</div>
			  <span class="psw">Забыли <a href="#">пароль?</a></span>
		  </form>
	</div>
{% endblock %}