{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Авторизация
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'main/css/registration.css' %}"/>

{% endblock %}

{% block content %}
	<div class="container">
		<a href="{% url 'home' %}" style="color: black"><button style="background: #f44336">Вернуться на главную страницу</button></a>
		<br>
    <form class="modal-content animate">
			<div class="imgcontainer">
			  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
			  <img src="{% static 'main/img/img_avatar2.jpg' %}" alt="Avatar" class="avatar">
			</div>

			<div class="container">
			  <label for="uname"><b>Username</b></label>
			  <input type="text" placeholder="Enter Username" name="uname" required>

			  <label for="psw"><b>Password</b></label>
			  <input type="password" placeholder="Enter Password" name="psw" required>

			  <button type="submit">Login</button>
			  <label>
				<input type="checkbox" checked="checked" name="remember"> Remember me
			  </label>

			</div>
			  <span class="psw">Forgot <a href="#">password?</a></span>
		  </form>
	</div>
{% endblock %}