{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %} </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>

		body {
			background-color: #DCDCDC;
		}

		.bg-blue {
			background-color: #4169E1;
		}

	</style>

	{% block head %}{% endblock %}
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm bg-blue">
	  <h5 class="my-0 mr-md-auto font-weight-normal">Running club KRONBARS</h5>
	  <nav class="my-2 my-md-0 mr-md-3">
		<a class="p-2 text-dark" href="#">News</a>
		  {% block link %} {% endblock %}
<!--		<a class="p-2 text-dark" href="#">Edit profile</a>
		<a class="p-2 text-dark" href="#">Leave</a>   -->
	  </nav>
	</div>

	<div class="container">
		{% block content %}{% endblock %}
	</div>

</body>
</html>