{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Редактировать профиль
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'main/css/registration.css' %}"/>

{% endblock %}

{% block content %}
	<div class="container">
		<a href="{% url 'profile' user.username %}" style="color: black"><button style="background: #f44336">Вернуться</button></a>
		<br>
    <form class="modal-content animate" style="padding: 10px; border: none;" method="POST">
		{% csrf_token %}

		{{ user_form.as_p }}
  		{{ profile_form.as_p }}

		<button type="submit">Сохранить</button>
		  </form>
	</div>
{% endblock %}