{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Беговой клуб KRONBARS
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'main/css/registration.css' %}"/>

{% endblock %}

{% block content %}
<div class='container registration'>

	<div class="welcome">
		<h3>Приветственное слово</h3>
		<br>
		<p>Важная информация про веб-приложение, зачем и для чего оно нужно, что умеет.
			<br>
			Возможно, будет содержать фотографии инструкции пользования приложением...
		</p>
		<p>
			<div style="width: 30%; margin-left: 10%">
				Если ты новичок в нашем проекте, то регистрация здесь
			</div>
			<div style="width: 30%; margin: -30px 0 10% 55%; ">
				Для авторизации жми сюда
			</div>
		</p>
	</div>


		<a href="{% url 'registration' %}"> <button style="width:140px; height: 50px; margin-left: 30%";>Регистрация</button> </a>

<!--		<div id="id01" class="modal1">
		  <span onclick="document.getElementById('id01').style.display='none'" class="close1" title="Close Modal">×</span>

		</div>
-->


		<button onclick="document.getElementById('id02').style.display='block'" style="width:140px; height:50px; margin-left:20%">Login</button>

		<div id="id02" class="modal">

		  <form class="modal-content animate" action="/action_page.php">
			<div class="imgcontainer">
			  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
			  <img src="{% static 'main/img/img_avatar2.jpg' %}" alt="Avatar" class="avatar">
			</div>

			<div class="container">
			  <label for="uname"><b>Username</b></label>
			  <input type="text" placeholder="Enter Username" name="uname" required>

			  <label for="psw"><b>Password</b></label>
			  <input type="password" placeholder="Enter Password" name="psw" required>

			  <button type="submit">Login</button>
			  <label>
				<input type="checkbox" checked="checked" name="remember"> Remember me
			  </label>
			</div>

			<div class="container" style="background-color:#f1f1f1">
			  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
			  <span class="psw">Forgot <a href="#">password?</a></span>
			</div>
		  </form>
		</div>

	</div>



	<script>
		// Get the modal

		var modal1 = document.getElementById('id02');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal1) {
				modal1.style.display = "none";
			}
		}
	</script>




{% endblock %}