{% extends 'main/base.html' %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
    <h1>Имя Фамилия</h1><br>
    <div class="alert alert-warning mt-2">
        <h3>Номер ИСУ (Номер студенческого билета)</h3>
        <h3>Дата рождения</h3>
        <h3>Мегафакультет</h3>
        <h3>Номер группы</h3>
        <h3>Дополнительная информация</h3>
    </div>
</div>
<div class="container">
    <h2>Тренировки</h2><br>
<!--    {% for el in news %}
        <div class="alert alert-warning mt-2">
            <h3>{{ el.title }}</h3>
            <p>{{ el.mainText }}</p>
            <p>{{ el.timeDate }}</p>
        </div>
    {% endfor %} -->
</div>
{% endblock %}
